@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Rubik", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
    font-size: 3rem;
    color: #555;
}
