body {
  background-color: #f8f9fa !important;

  padding: 2rem;
}

.container {
  max-width: 750px;
  height: 400px;
  margin: 30px auto;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  position: relative;
}

.container-title {
  /* color: #2c2c2c; */
  color: #444;
  margin-bottom: 1rem;
}

.history {
  background-color: #ebf0eb;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  padding: 1rem 1.2rem;
  font-size: 1.3rem;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.4rem;

  cursor: pointer;

  margin-bottom: 1rem;
}
