/* Responsive */
@media (max-width: 428px) {
  /*  */

  .logo {
    display: none;
  }

  #important-tasks {
    display: none;
  }

  .task-box {
    display: none !important;
  }

  .open-bar-icon {
    display: block !important;
    right: -10px !important;
  }

  .close-bar-icon {
    display: none;
  }

  .bottom-dash {
    flex-direction: column !important;
  }

  .todo {
    width: 100% !important;
  }

  .logo-name {
    font-size: 3rem !important;
    font-family: "Madimi One", sans-serif;
  }

  .content {
    max-width: 420px !important;
    margin: 32px auto !important;

    padding: 0 12px;
  }

  .heading {
    font-size: 3rem !important;
  }

  .desc {
    font-size: 1rem !important;
    line-height: 1.6 !important;
  }

  #try-free {
    /* display: inline-block; */
    padding: 1.3rem 2.6rem !important;
  }

  .img {
    padding: 0 1rem !important;
  }

  .copyright {
    font-size: 0.9rem !important;
    line-height: 1.4;
  }
}
/* 
428 - 838 */

@media (min-width: 430px) and (max-width: 768px) {
  .bottom-dash {
    flex-wrap: wrap;
  }

  .todo {
    width: 48% !important;
  }

  .content {
    /* background-color: red; */
    max-width: 600px !important;

    margin-top: 1rem !important;
  }

  .heading {
    font-size: 3rem !important;
  }

  .desc {
    font-size: 0.9rem !important;
    line-height: 1.6 !important;
  }

  .img {
    padding: 0 2rem !important;
  }

  .copyright {
    font-size: 0.85rem !important;
    line-height: 1.4;
  }
}

@media (min-width: 827px) and (max-width: 980px) {
  #quote {
    width: 200px !important;
  }

  /* .timer-container {
    width: 260px !important;
    background-color: green;
  } */

  .pomodore-timer {
    width: 200px !important;
  }
}

@media (max-width: 768px) {
  .content {
    margin-top: 1rem !important;
  }
}

@media (min-width: 768px) and (max-width: 846px) {
  .bottom-dash {
    flex-wrap: wrap;
  }

  .todo {
    width: 49% !important;
  }

  .img {
    padding: 0 2rem !important;
  }
}

@media (min-width: 1525px) {
img {
  width: 100%;
  height: auto;
}
}