body {
  background-color: #f8f9fa !important;

  padding: 2rem;
}

.container {
  max-width: 750px;
  height: 500px;
  margin: 0 auto;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  position: relative;
}

#addBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;

  width: 48px;
  height: 48px;
  border-radius: 50%;

  border: none;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  text-align: center;

  font-size: 2rem;
  cursor: pointer;
}

.container-title {
  /* color: #2c2c2c; */
  color: #444;
  margin-bottom: 1rem;
}

.categories {
  display: flex;
  gap: 1.6rem;
  align-items: center;

  margin-bottom: 1.6rem;
}

#category-item:link,
#category-item:visited {
  background-color: #99ca9b;
  padding: 0.6rem 1.2rem;
  border-radius: 30px;

  transition: 0.3s ease;

  color: #2d2d2d;
}

#category-item:hover,
#category-item:active {
  background-color: #62a265;
}

/* Tasks */
.task-list {
  list-style: none;

  margin-bottom: 7rem;
}

.task-item {
  background-color: #ebf0eb;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  padding: 1rem 1.2rem;
  font-size: 1.3rem;

  display: flex;
  align-items: center;
  gap: 0.4rem;

  cursor: pointer;

  margin-bottom: 1rem;
}

.divider {
  display: block;
  /* width: 100%; */
  border-top: 1px solid #979798;
  padding-top: 1rem;
}
